body {
    font-family: Arial, sans-serif;
    background-color: #f71010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #140909;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
}

.card video {
    width: 100%;
    border-bottom: 1px solid #4408b4;
}

.card h4 {
    margin: 10px;
    color: #333;
}
